playwright
#playwright-stealth
playwright-stealth==1.0.6
beautifulsoup4
fake-useragent
setuptools
pydantic-settings
# pip install --upgrade pip setuptools wheel

# after in terminal
# playwright install chromium
